@import "./app.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
.animate-img.active {
  animation: fadeInn 7s ease-in forwards;
}
.bg-transparentt {
  background-color: transparent !important;
}
@keyframes fadeInn {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.1;
  }
}

.delay-1 {
  animation-delay: 0;
}
.delay-2 {
  animation-delay: 0.2s;
}
.delay-3 {
  animation-delay: 0.4s;
}
.delay-4 {
  animation-delay: 1.6s;
}


.logo-small ::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 20px;
  background-color: blue;
}



.hero-title{
  --c:rgba(255, 255, 255, 0.466);
    /* font-size: 72px; */
  /* background: -webkit-linear-gradient(#27377d); */
  /* background-clip: text; */
  /* color: #27377d; */
  /* -webkit-text-fill-color: transparent; */
  /* font-weight: bolder; */
  text-shadow: -1px 0 var(--c), 0 1px var(--c), 1px 0 var(--c), 0 -1px var(--c);
  /* text-shadow: 4px 4px 6px #b4b4b4; */

}
.hero-img{

  animation: Hero 4s ease-out  forwards;
}
.hero-img:hover{
  
  animation: Hero 4s ease-out  forwards;
  /* transform: scale(2); */
  /* transition: ; */
  /* translate: ; */
  /* transition-duration: 4s; */
  /* transition-property: all; */
  /* transition-behavior: ; */
  /* animation-iteration-count: ; */
}


@keyframes Hero {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.1;
  }
}