@import "./app.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
.animate-img.active {
  animation: fadeInn 7s ease-in forwards;
}
.bg-transparentt {
  background-color: transparent !important;
}
@keyframes fadeInn {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.1;
  }
}

.delay-1 {
  animation-delay: 0;
}
.delay-2 {
  animation-delay: 0.2s;
}
.delay-3 {
  animation-delay: 0.4s;
}
.delay-4 {
  animation-delay: 1.6s;
}


.logo-small ::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 20px;
  background-color: blue;
}